# SPDX-License-Identifier: Apache-2.0

menuconfig HX711
	bool "HX711 Weight Scale Sensor"
	depends on GPIO
	help
	  Enable driver for HX711 weight scale sensor (ADC-based load cell amplifier).

if HX711

config HX711_OFFSET
	int "Initial offset"
	default 0
	help
	  Offset to subtract from raw ADC value during scale calculation.

config HX711_GAIN
	int "Gain setting (1=A128, 2=B32, 3=A64)"
	range 1 3
	default 1
	help
	  HX711 gain configuration:
	    1 = Channel A, Gain 128 (default)
	    2 = Channel B, Gain 32
	    3 = Channel A, Gain 64

config HX711_SCALE_INTEGER
    int "Scale multiplier integer part"
    default 1
    help
      Integer part of the scale factor (e.g. for 1.23, set to 1)

config HX711_SCALE_DECIMAL
    int "Scale multiplier decimal part (in micro-units)"
    default 0
    help
      Decimal part of the scale factor in micro-units.
      For example, for 1.23 set this to 230000 (1.000000 + 0.230000)


config HX711_SAMPLE_FETCH_TIMEOUT_MS
	int "Maximum time (ms) to wait for data ready"
	default 1000
	help
	  How long (in milliseconds) to wait for the HX711 to become ready before timing out.

endif
