# Kconfig for custom HX711 Zephyr driver

menuconfig HX711
	bool "HX711 Load Cell Amplifier"
	depends on GPIO
	help
	  Enable support for the HX711 analog front-end sensor used with load cells.

if HX711

config HX711_INIT_PRIORITY
	int "Initialization priority"
	default 80
	help
	  Device init priority

endif # HX711
